/**!
* Ew 官网主页 CSS 主框架文件
* delovt (http://sys7em.info)
* 2016-04-28
*/

/* Body */
@font-face{
    font-family: 'ew-font';
    src: url('../fonts/NotoSansHans-Black.otf'); /* ie */
}@font-face{
    font-family: 'ew-bold';
    src: url('../fonts/SourceHanSansCN-Bold.otf'); /* ie */
}@font-face{
    font-family: 'ew-extraLight';
    src: url('../fonts/SourceHanSansCN-ExtraLight.otf'); /* ie */
}@font-face{
    font-family: 'ew-light';
    src: url('../fonts/SourceHanSansCN-Light.otf'); /* ie */
}@font-face{
    font-family: 'ew-normal';
    src: url('../fonts/SourceHanSansCN-Normal.otf'); /* ie */
}

body {
    width: 100%;
    height: auto;
    z-index: -1;
    background-color: #212121;
    font-family: 'ew-font';
}
/* Header */
.ewHeader {
    margin-top: 8%;
    height: 53px;
}
.logo {
    margin: 0px;
    width: 155px;
    height: 50px;
    float: left;
    background-image:url('../img/main.png');
    background-repeat:no-repeat;
    background-position: 16% 11%;
    background-size: 390px 260px;
}

/* Main */
.ewPic {
    float: left;
}

.ewPicInfo {
    float: right;
}


.footer {
    z-index:9999;
}

/* 档案馆 */
.liblog {
    margin-top: 5%;
    width: 240px;
    height: 60px;
    background-image: url(../img/liblog.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.center-block {
    height: 380px;
    margin-top: 3%;
    text-align: center;
}

.center-block div {
    display: inline-block;
}
.imgbox {
    margin: 5%;
    margin-top: 10%;
}

.imgcont {
    position: absolute;
    z-index: 999;
}

.imgbox .imgcont img{
    width: 200px;
    height: 300px;
}

.imgbox .caption {
    color: #fff;
    background-color: #212121;
    top: 230px;
    width: 200px;
    height: 65px;;
    position: relative;
    z-index: 9999;
}

.imgbox .caption a {
    font-weight: bolder;
    padding: 2px;
    border-width: 1px;
    border-radius: 1px;
    border-style: solid;
    border-color: #DE6463;
    color: #DE6463;
}

.makeFrame {
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5);
}
.imgBar {
    margin-top: 10%;
}

.imgBar img {
    width: 600px;
    height: 320px;
    text-align: center;
    display: inline-block;
}
.imgCont {
    position: absolute;
    top: 0px;
    text-indent: 20px;
    padding: 0px;
    margin-left: 600px;
}
li img {
    width: 100%;
    height: 100%;
}
.delovt_panelMessage {
    margin:0px;
    height: 320px;
    width: 260px;
    border-radius: 0;
}
.delovt_panelMessage .panel-body {
    padding: 0 10px 0;
    text-align: left;
    color: #310A0B;
}
.delovt_panelMessage .panel-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 80px;
}
.imgCont h2 {
    text-align: right;
    margin: 10px;
}
.imgCont a {
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 8px;
    border-color: rgb(222, 100, 99);
    color: #DE6463;
    position: absolute;
    width: auto;
    left: 20%;
    text-align: center;
    margin: 10px;
    text-indent: 0px;
}

.mainProBox img {
    padding-left: 3%;
    float: left;
    width: 70%;
    height: 280px;
}
.littProBox,.finProBox {
    margin-top: 5%;
    padding-left: 20px;
}
.finProBox img {
    width: 70%;
    height: 200px;
}
.littProBox  {
    margin-left: 3%;
    padding: 0;
    width: 240px;
    height: 200px;
    background-color: #fff;
    color: #000;
    text-align: right;
}
.littProBox img {
    margin: 0px;
    width: 100%;
    height: 75%;
}

.teamCaption {
    padding-top: 3%;
    padding-right: 3%;
    margin-right: 15px;
    float: left;
    width: 25%;
    height: 280px;
    background-color: #fff;
    color: #000;
    text-align: right;
}
.finCaption {
    padding: 20px;
    float: right;
    width: 30%;
    height: 200px;
    background-color: #fff;
    color: #000;
    text-align: right;
}

.mainProBox p,.finProBox p,.littProBox p {
    margin: 0px;
    margin-top: 6%;
    margin-bottom: 6%;
}

.mainProBox a,.finProBox a {
    background-color: #fff;
    color: #DE6463;
    border-width: 1px;
    border-radius: 1px;
    border-style: solid;
    border-color: #DE6463;
    margin-right: 3px;
}

.splitTeamBox {
    margin-top: 6%;
}

/*时间轴*/
.timeStage {
    width: 65%;
    position: absolute;
    margin-left: 6%;
    border: 0px;
    border-left-width: 2px;
    border-style: solid;
    border-left-color: #fff;
}

.proDate {
    text-align: center;
    background-color: #fff;
    margin-top: 5%;
    margin-left: 2.5%;
    padding: 0px;
    width: 64px;
    height: 80px;
    text-shadow: 1px 2px 5px #000;
    border: 0px;
    border-top: 10px solid #DE6463;
}

.proDate h3,.proDate p{
    margin-top: 3%;
    margin-bottom: 5px;
}

.proDateIcon {
    z-index: 99;
    color: #fff;
    position: absolute;
    margin-top: 5%;
    margin-left: 1%;
}

.blur {
    -webkit-filter: blur(5px); /* Chrome, Opera */
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);
            filter: blur(5px);
}

.teamFrame {
    position: fixed;
    width: 100%;
    bottom: -1px;
}
.imgBar h4 {
    font-size: 14px;
    font-style: initial;
}
.prev {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    text-align: right;
    width: 64px;
    height: 64px;
    top: 40%;
    left: 20%;
    border-radius: 15px;
    color:#fff;
}

.next {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    text-align: right;
    width: 64px;
    height: 64px;
    top: 40%;
    right: 17%;
    color: #fff;
}
.mainFrame {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }
    50% {
        opacity: 0; /*中间状态 透明度为0*/
    }
    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}
