/*-----------------------------------------------------------------------------

	-	paradigm slider -

Screen Stylesheet

version:   	1.0
date:      	09/18/11
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/





/***********************************************
	-	THE BACKGROUND OF THE SLIDER	-
************************************************/


.light .paradigm-bg{
	background-color:#fff;
	padding:9px;
	border:1px solid #e5e5e5;
}

.dark .paradigm-bg{
	background-color:#222;
	padding:9px;
	border:1px solid #1e1e1e;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}




/*************************************************
	-	THE PRELOADER OF THE BANNER 	-
*************************************************/
.paradigm-preloader{
	background:url(../img/preloader.gif) no-repeat;
	width:24px;
	height:24px;
	position:absolute;
	left:49%;
	top:49%;
	z-index:9999;
}



/**************************************************
	-	THE BASIC SETTINGS FOR THUMBNAILS	-
***************************************************/

/*****	-	LIGHT	-	*******/
.light .paradigm_thumb_container{
	background:url(../img/shadow_thumb_repeater.png) repeat-X;
	background-color:#e5e5e5;
}

.light .paradigm_thumb_container_bg{
	background:url(../img/shadow_thumb_repeater.png) repeat-X;
	background-color: #ffffff;
}

.light .paradigm_thumb_container #thumbmask{
	background:url(../img/shadow_thumb_repeater.png) repeat-X;
	background-color:#fff;
}



/*****	-	DARK	-	*******/
.dark .paradigm_thumb_container{
	background:url(../img/shadow_thumb_repeater.png) repeat-X;
	background-color:#1e1e1e;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.dark .paradigm_thumb_container_bg{
	background:url(../img/shadow_thumb_repeater.png) repeat-X;
	background-color: #222;
}

.dark .paradigm_thumb_container #thumbmask{
	background:url(../img/shadow_thumb_repeater.png) repeat-X;
	background-color:#222;
}


/*****	-	ALL	-	*******/
.paradigm_thumb_container .video{
	width:30px;
	height:30px;
	background:url(../img/play_small.png) no-repeat;
	margin-top:-15px;
	margin-left:-15px;
	cursor:pointer;

}




/***********************************************
	-	THE SHADOWS UNDER THE SLIDER	-
************************************************/
.paradigm-leftshadow{
	background:url(../img/shadow_left.png) no-repeat;
	width:187px;
	height:57px;
	position:absolute;
}

.paradigm-rightshadow-bullet{
	background:url(../img/shadow_right.png) no-repeat;
	width:187px;
	height:57px;
	right:-18px;
	position:absolute;
}

.paradigm-rightshadow{
	background:url(../img/shadow_right.png) no-repeat;
	width:187px;
	height:57px;
	right:0px;
	position:absolute;
}

.paradigm-repeatshadow{
	background:url(../img/shadow_thumb_repeater.png);
	width:100%;
	height:57px;
	position:absolute;
}


/***********************************************
	-	THE VIDEO SETTINGS	-
************************************************/
.paradigm-video-overlay{
	background-color:#000;
	opacity:0.25;
	filter: alpha(opacity=25);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	width:100%;
	height:100%;
	position:relative;
	z-index:1000;
}

.paradigm-video-button{
	background:url(../img/play.png) no-repeat;
	width:100px;
	height:100px;
	position:absolute;
	z-index:1500;
	opacity:0.85;
	filter: alpha(opacity=85);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	cursor:pointer;


}

.paradigm-video-button:hover {
	opacity:1.0;
}

.video_container{
		position:absolute;
		top: 0; bottom: 0px;
		width: 100%;
		background: #eee;
		font-family: Arial, sans-serif;
		font-size:12px;
		line-height: 20px;
		color: #777;
		text-shadow: #fff 1px 1px 1px;
	}

.video_container_wrap{
	padding-right: 30px;
}

.video_container .video_clip{
	float: left;
	padding-right: 30px;
}
.video_container h2{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 30px;
	font-weight: 100;
	color: #999;
	text-shadow: #fff 1px 1px 1px;
	padding-top: 45px;
	margin: 0;
}
.buttonlight {
 float: right;
 height: 30px;
 line-height: 30px;
 font-size: 12px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

.buttonlight:link, .buttonlight:visited {
 color: #777;
 padding: 0 20px 0 20px;
 text-align: center;
 text-shadow: 1px 1px 0px #fff;
 background: #999 url(../img/btn_light.png) repeat-x center top;
 border: 1px solid #cdcdcd;
 text-decoration: none;
 font-weight: bold;
}

.buttonlight:hover, .comment-reply-link:hover {
 color: #fff;
 text-shadow: 1px 1px 0px #000;
 background: #333;
 border: 1px solid #555555;
 text-decoration: none;
}

.video_container #close{
	width:30px;
	height:30px;
	position:absolute;
	background:url(../img/close.png) no-repeat top;
	right:10px;
	top:10px;
	cursor:pointer;
}

.video_container #close:hover{
	background-position:bottom;
	opacity:0.5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	cursor:pointer;
}



/*************************************/
/*		THUMBNAIL OPTIONS			*/
/*************************************/
.thumbbuttons{
	background:url(../img/navigdots_bgtile.png);
	height:35px;
	 -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:absolute;
	bottom:-33px;
	z-index:1000;
}


.thumbbuttons .leftarrow{
	background:url(../img/arrowleft.png) no-Repeat bottom left;
	width:9px;
	height:16px;
	margin-left:9px;
	margin-right:9px;
	margin-top:9px;
	float:left;
	cursor:pointer;
}


.thumbbuttons .rightarrow{
	background:url(../img/arrowright.png) no-Repeat bottom left;
	width:9px;
	height:16px;
	margin-top:9px;
	margin-right:9px;
	margin-left:18px;
	float:left;
	cursor:pointer;
}


.thumbbuttons .minithumb{
	background:url(../img/navigdots.png) no-Repeat bottom left;
	width:15px;
	height:15px;
	margin-top:9px;
	margin-left:9px;
	float:left;
	cursor:pointer;
}

.thumbbuttons .thumbs{
	float:left;
}

.thumbbuttons .rightarrow:hover, .thumbbuttons .leftarrow:hover, .thumbbuttons .minithumb:hover, .thumbbuttons .thumbs .selected{
	background-position:top left;
}
