/*-----------------------------------------------------------------------------

RAMA BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		freshline
email:     	support@version-four.com
website:   	http://www.version-four.com
-----------------------------------------------------------------------------*/

/***********************
	-	BASICS 	-
***********************/
html {
	width: 100%;
	overflow-x:hidden;
	margin: 0;
	padding: 0;
}

ol, ul {
    list-style: none;
}

a{
	text-decoration:none;
}


/*******************************
	-	BANNER BACKGROUNDS	-
********************************/

#banner1-bg {
	position: absolute;
	height: 600px;
	width: 100%;
	top: 0;
	left: 0;
	background-image:url(../img/website_bg_tile.gif);
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color:#bbb;
	font-weight: bold;
}

#banner1-bg h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:35px;
	color:#bbb;
	margin-bottom: 15px;
}

#banner2-bg {
	position: absolute;
	height: 580px;
	width: 100%;
	top: 600px;
	left: 0;
	background-image:url(../img/website_bg_tile_dark.gif);
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color:#ddd;
	font-weight: bold;
	padding-top: 20px;
}

#banner2-bg h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:35px;
	color:#ddd;
	margin-bottom: 15px;
}

#banner2-bg p, #banner1-bg p {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:17px;
}


/*******************************
	-	BANNER STYLES	-
********************************/
#banner-example-1{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:918px;
	height:300px;
}

#banner-example-1 ul >li{
	display:none;
}


#banner-example-2{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:700px;
	height:300px;
}

#banner-example-2 ul >li{
	display:none;
}

/**********************************************************
	-	CAPTION SETTINGS FOR THE PARADIGM SLIDER	-
**********************************************************/
.caption_black{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:25px;
	color:#fff;
	background-color:#000;
	padding:5px;
	position:absolute;
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
}

.caption_blue{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:25px;
	color:#fff;
	background-color:#00b4ff;
	padding:5px;
	position:absolute;
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
}

.caption_green{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:25px;
	color:#fff;
	background-color:#445626;
	padding:5px;
	position:absolute;
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
}

.caption_orange{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:25px;
	color:#fff;
	background-color:#c54a00;
	padding:5px;
	position:absolute;
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
}

.caption_red{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:25px;
	color:#fff;
	background-color:#c4302b;
	padding:5px;
	position:absolute;
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
}

.caption_white{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:25px;
	color:#000;
	background-color:#fff;
	padding:5px;
	position:absolute;
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
}

.caption_grey{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:25px;
	color:#fff;
	background-color:#333;
	padding:5px;
	position:absolute;
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
}

a:link, a:visited {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #ddd;
}

.caption_white a:link, .caption_white a:visited {
	text-decoration: none;
	color: #000;
}

.caption_white a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #555;
}

a:focus {
    outline: none;
}

.smallcap{
	font-size:18px;
}

.largecap{
	font-size:32px;
}

.imagecap{
	position:absolute;
}

.nobg{
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: #000 5px 5px 5px;
}

/****************************
	-	BASIC DIVIDERS 	-
*****************************/
#small_divider {
	margin-top:8px;
}

#big_divider {
	margin-top:150px;
}
/*
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(../fonts/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff) format('woff');
}*/
