/**!
* Ew 官网主页 CSS 主框架文件
* delovt (http://sys7em.info)
* 2016-04-28
*/

/* Body */

body {
    width: 100%;
    height: auto;
    z-index: -1;
    background-color: #212121;
    color: #fff;
}
ew {
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
}
/* Header */
.ewHeader {
    margin-top: 8%;
    height: 53px;
}
.logo {
    margin: 0px;
    width: 155px;
    height: 50px;
    float: left;
    background-image:url('../img/main.png');
    background-repeat:no-repeat;
    background-position: 16% 11%;
    background-size: 390px 260px;
}

/* Main */
.ewPic {
    float: left;
}
.ewPicInfo {
    float: right;
}

/* 档案馆 */

.libPage {
    text-align: center;
}

.libHeader {
    text-align: center;
    font-size: bloder;
    color: #fff;
    margin-top: 5%;
}
.libHeader a {
    margin-top: 3%;
    color: #fff;
    font-style: normal;
}
.libContent {
    text-align: center;
}
.libContBox {
    padding: 0px;
    padding-top: 2px;
    margin: 0px;
    margin-top: 5%;
    text-align: center;
    display: inline-block;
    display: -webkit-inline-box;
}
.libMenu {
    position: relative;
    width: 120px;
    height: 120px;
    padding: 3%;
    margin-right: 8%;
    border: 2px solid #fff;
}
.libMenu p {
    position: absolute;
    bottom: -3px;
    right: 3px;
}
.libMenu span {
    position: absolute;
    left: 3px;
}
.in {
    color: #000;
}
.mainBg {
    position: fixed;
    width: 100%;
    height: 100%;
}
.blur {
    -webkit-filter: blur(5px); /* Chrome, Opera */
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);
            filter: blur(5px);
}
